<div class="row">
    <div class="col-lg-4 col-lg-push-4" id="create-main">
        <h1>La <br/> Loteria <br/> Mexicana</h1>
        <!-- Join Message -->
        <section>
            <p>Friends can join at <strong>la-lote.com/join</strong> by entering this game code:</p>
            <h2 class="game-code">TVRSZ</h2>
        </section>
        <!-- End Join Message -->

        <!-- Players List -->
        <section id="players-list">
            <ul>
                <li class="active">
                    <paper-input-decorator class="custom-input" label="Your Name" floatinglabel layout vertical>
                        <input is="core-input" placeholder="Your Name">
                    </paper-input-decorator>
                </li>
                <li>
                    Evert
                </li>
                <li>
                    Cheky
                </li>
            </ul>
            <paper-button class="button small-button">Exit</paper-button>
            <paper-button class="button small-button" ng-click="goTo('game')">Start</paper-button>
        </section>
        <!-- End Players List -->
        <h4 class="footer">Shile <br/> Shilaca</h4>
    </div>
</div>