<div class="row">
    <div class="col-lg-4 col-lg-push-3" id="game-main">
        <p class="player-name">Evert</p>
        <!-- Players List -->
        <section id="board">
            <div class="card card01"></div>
            <div class="card card02"></div>
            <div class="card card01"></div>
            <div class="card card02"></div>
            <div class="card card01"></div>
            <div class="card card02"></div>
            <div class="card card01"></div>
            <div class="card card02"></div>
            <div class="card card01"></div>
            <div class="card card02"></div>
            <div class="card card01"></div>
            <div class="card card02"></div>
            <div class="card card01"></div>
            <div class="card card02"></div>
            <div class="card card01"></div>
            <div class="card card02"></div>
        </section>
        <paper-button class="button small-button exit-button">Exit</paper-button>
        <paper-button class="button small-button" ng-click="goTo('winner')">Loteria</paper-button>
        <!-- End Players List -->
    </div>
    <div class="col-lg-4 col-lg-push-2" id="game-card-main">
        <!-- Current Card -->
        <section>
            <div class="current-card card01"></div>
            <h3>El Gallo</h3>
            <p>01/54</p>
        </section>
        <!-- End Current Card -->
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-lg-push-4">
        <h4 class="footer">Shile <br/> Shilaca</h4>
    </div>
</div>