<div class="row">
    <div class="col-lg-4 col-lg-push-4">
        <h3 ng-show="lostGame">You lost!</h3>
    </div>
    <img ng-repeat="i in range(hp) track by $index" src="//placehold.it/32x32">
</div>
<div class="row">
    <div class="col-lg-4 col-lg-push-2" id="game-main">
        <p class="player-name">{{currentPlayerName}}</p>

        <section id="board" class="clearfix">
            <lottery-card ng-repeat="card in cards" cardid="{{card}}" src="{{getCardSrc(card)}}" ng-click="onCardClick($event)"></lottery-card>
        </section>
        <paper-button class="button small-button exit-button" ng-click="goTo('')">Exit</paper-button>
        <paper-button class="button small-button" ng-click="loteria()" ng-class="{ 'disabled-button' : (cardsSelected < 16 || lostGame) }">Loteria</paper-button>

    </div>
    <div class="col-lg-4 col-lg-push-2" id="game-card-main">
        <!-- Current Card -->
        <section>
            <div id="current-card">
                <img class="current-card" id="current-card-image"/>
                <div class="current-card-id">{{cardId}}</div>
            </div>
            <div class="current-card-name">{{cardName}}</div>
        </section>
        <!-- End Current Card -->
    </div>
</div>