<div class="row">
    <div class="col-lg-2 menu">
        <div>
            <h1>La Lote</h1>
            <ul>
                <li class="active">
                    <a href="#">Play</a>
                </li>
                <li>
                    <a ng-click="scrollTo('about')" href="">About</a>
                </li>
                <li>
                    <a ng-click="scrollTo('tech')" href="">Tech</a>
                </li>
                <li>
                    <a ng-click="scrollTo('story')" href="">Story</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-lg-push-2" id="home-main">
        <!-- Get Ready -->
        <section>
            <h1>Get Ready!</h1>
            <p>Get ready to play with your friends!</p>
            <paper-button class="button" ng-click="goTo('create', 'start')">Start a New Game</paper-button>
            <paper-button class="button" ng-click="goTo('create', 'join')">Join a Game</paper-button>
        </section>
        <!-- End Get Ready -->

        <!-- About -->
        <section id="about">
            <h1>About</h1>
            <p>Lorem ipsum</p>
        </section>
        <!-- End About -->

        <!-- Tech -->
        <section id="tech">
            <h1>Tech</h1>
            <p>Lorem ipsum</p>
        </section>
        <!-- End Tech -->

        <!-- Story -->
        <section id="story">
            <h1>Story</h1>
            <p>Lorem ipsum</p>
        </section>
        <!-- End Story -->
    </div>
</div>