.bean {
    background-color: transparent;
    position: relative;
    visibility: hidden;
}
.bean.active {
    visibility: visible;
}
.card {
    width: 90px;
    height: 135px;
    border: 7px solid white;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
       -moz-box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
            box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
.card1 {
    background: url('../svg/card.svg#c01') no-repeat;
}
.card2 {
    background: url('../svg/card.svg#c02') no-repeat;
}
.card3 {
    background: url('../svg/card.svg#c03') no-repeat;
}
.card4 {
    background: url('../svg/card.svg#c04') no-repeat;
}
.card5 {
    background: url('../svg/card.svg#c05') no-repeat;
}
.card6 {
    background: url('../svg/card.svg#c06') no-repeat;
}
.card7 {
    background: url('../svg/card.svg#c07') no-repeat;
}
.card8 {
    background: url('../svg/card.svg#c08') no-repeat;
}
.card9 {
    background: url('../svg/card.svg#c09') no-repeat;
}
.card10 {
    background: url('../svg/card.svg#c10') no-repeat;
}
.card11 {
    background: url('../svg/card.svg#c11') no-repeat;
}
.card12 {
    background: url('../svg/card.svg#c12') no-repeat;
}
.card13 {
    background: url('../svg/card.svg#c13') no-repeat;
}
.card14 {
    background: url('../svg/card.svg#c14') no-repeat;
}
.card15 {
    background: url('../svg/card.svg#c15') no-repeat;
}
.card16 {
    background: url('../svg/card.svg#c16') no-repeat;
}
.card19 {
    background: url('../svg/card.svg#c19') no-repeat;
}