.bean {
    background-color: transparent;
    position: relative;
    visibility: hidden;
}
.bean.active {
    visibility: visible;
}
.card {
    border: 7px solid white;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
       -moz-box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
            box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
    float: left;
    height: 135px;
    margin: 5px 0 0 5px;
    width: 90px;
}
.card .number {
    position: absolute;
    left: 5px;
}