/** General Styles **/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-size: 1.4em;
  background-color: #e92476;
  color: #ffffff;
  height: 100%;
  font-family: 'montserrat';
}
a:link, a:visited, a:active, a:hover {
  text-decoration: none;
}
/** End General Styles **/


/** Home **/
.menu > div {
    position: fixed;
}
.menu h1,
#create-main h1,
#winner-main h1 {
  font-family: 'flash';
  font-weight: bold;
  font-size: 2.5em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
.menu ul {
  list-style: none;
}
.menu ul > li > a {
  font-size: 2em;
  color: #941349;
  font-family: 'flash';
}
.menu ul > li.active > a {
  color: #ffffff;
}
.menu ul > li > a:hover {
  color: #ffffff;
}

#home-main section {
  padding: 20px 5px;
  border-bottom: 1px solid #ef6e9f;
  border-top: 1px solid #ef6e9f;
  margin-top: 200px;
}
#home-main section:first-of-type {
  border-top: 0;
  margin-top: 0;
}
#home-main section:last-of-type {
  border-bottom: 0;
  margin-bottom: 100px;
}
#home-main section > h1, #home-main section > p {
  text-align: center;
}
#home-main section > h1 {
  font-family: 'flash';
  font-weight: bold;
  font-size: 3em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
#home-main section button {
  display: block;
  margin: 15px auto;
}
/** End Home **/

/** Create New Game **/
#create-main h1,
#winner-main h1 {
  text-align: center;
}
.game-code {
    font-size: 1.8em;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}
paper-input-decorator /deep/ .label-text,
paper-input-decorator[focused] /deep/ .floated-label .label-text,
paper-input-decorator.invalid[focused] /deep/ .floated-label .label-text {
    color: #E92476;
}
paper-input-decorator /deep/ .focused-underline {
    background-color: #E92476;
}
#create-main strong {
    font-size: 1.4em;
}
.footer {
    font-family: 'flash';
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
#players-list ul {
    list-style: none;
    padding: 0;
}
#players-list ul > li {
    background: #ffffff;
    padding: 15px 10px;
    margin-bottom: 5px;
    color: #BE5B85;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
       -moz-box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
            box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
}
#players-list ul > li.active {
    background: #ffffff;
    padding: 0 10px;
}
#players-list .custom-input {
    color: #333333;
    background: #ffffff;
    padding: 10px 15px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
       -moz-box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
            box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
}
/** End Create New Game **/

/** Game **/
#game-main h3,
#game-card-main h3,
#winner-main h3,
#game-main p,
#game-card-main p,
#winner-main p,
#players-main p {
    text-align: center;
}
#game-main,
#game-card-main,
#players-main {
    margin-top: 30px;
}
#game-main .player-name {
    text-align: left;
}
#game-main p {
    font-size: 0.875em;
    margin: 3px 0;
}
/** Cards **/
.current-card {
    display: block;
    width: 200px;
    height: 293px;
    border: 7px solid white;
    margin: 185px auto 0 auto;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
       -moz-box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
            box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
}
.current-card-id {
    display: block;
    height: 30px;
    left: 140px;
    position: absolute;
    top: 15px;
    width: 30px;
}
.current-card-name {
    font-size: 25px;
    margin-top: 45px;
    text-align: center;
}
.card {
    width: 105px;
    height: 150px;
    border: 7px solid white;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
       -moz-box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
            box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
.winner-card {
    width: 200px;
    height: 293px;
    border: 7px solid white;
    margin: 0 auto;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
       -moz-box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
            box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
}
/** End Cards **/
/** End Game **/

/** Winner **/
#positions-list ul {
    list-style: none;
    padding-left: 170px;
}
#positions-list ul > li {
    margin: 10px 0;
    font-size: 0.875em;
}
/** End Winner **/

/** General **/
.button {
  background: #cf266c;
  border: 0;
  padding: 5px 20px;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
     -moz-box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
          box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
  display: block;
  margin: 15px auto;
  text-transform: uppercase;
}
.small-button {
  display: inline-block;
  width: 49.5%;
}
.exit-button {
  background: #E0E0E0;
  color: #000000;
}
.disabled-button {
    background: #E0E0E0;
    color: #000000;
}
@font-face {
  font-family: 'flash';
  src: url('fonts/flashef-light-webfont.eot');
  src: url('fonts/flashef-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/flashef-light-webfont.woff2') format('woff2'),
  url('fonts/flashef-light-webfont.woff') format('woff'),
  url('fonts/flashef-light-webfont.ttf') format('truetype'),
  url('fonts/flashef-light-webfont.svg#flashefregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flash';
  src: url('fonts/flashef-bold-webfont.eot');
  src: url('fonts/flashef-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/flashef-bold-webfont.woff2') format('woff2'),
  url('fonts/flashef-bold-webfont.woff') format('woff'),
  url('fonts/flashef-bold-webfont.ttf') format('truetype'),
  url('fonts/flashef-bold-webfont.svg#flashefregular') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url('fonts/montserrat-regular-webfont.eot');
  src: url('fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
  url('fonts/montserrat-regular-webfont.woff') format('woff'),
  url('fonts/montserrat-regular-webfont.ttf') format('truetype'),
  url('fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url('fonts/montserrat-bold-webfont.eot');
  src: url('fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
  url('fonts/montserrat-bold-webfont.woff') format('woff'),
  url('fonts/montserrat-bold-webfont.ttf') format('truetype'),
  url('fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/** End General **/